In [2]:
import pandas as pd

In [31]:
data = pd.read_csv('data/auto_databases_one_October_2022.csv')

In [11]:
data.drop(columns=['trim_ru','make_ru','model_ru','generation_ru','body_ru','drive_ru','gearbox_ru','engine_type_ru'],inplace=True)

In [12]:
data.head()

,trim_id,trim,make_id,make,model_id,model,generation_id,generation,body_id,body,...,gearbox,engine_type_id,engine_type,engine_volume,engine_power,year,image,date_update,is_active,old_id
0,1,4.6 MT (326 Hp),1,AC,1,Ace,1,Ace,9,Roadster,...,Manual,1,Gasoline,4601,326,1997,ac-ace-roadster-1995,2018-10-12,1,0
1,48225,31631 2.2d MT (116 Hp) 4WD,161,UAZ,1062,Patriot,5087,I,21,SUV 5-Door,...,Manual,2,Diesel,2287,116,2004,uaz-patriot-i-suv-5-door-2004,2020-05-06,1,0
2,2,2.9 AT (195 Hp),1,AC,1,Ace,1,Ace,9,Roadster,...,Automatic,1,Gasoline,2900,195,1995,ac-ace-roadster-1992,2016-11-17,1,0
3,3,2.9 MT (195 Hp),1,AC,1,Ace,1,Ace,9,Roadster,...,Manual,1,Gasoline,2900,195,1995,ac-ace-roadster-1992,2016-11-17,1,0
4,4,3.0 MT (223 Hp),1,AC,1,Ace,1,Ace,9,Roadster,...,Manual,1,Gasoline,3000,223,1995,ac-ace-roadster-1992,2016-11-17,1,0

In [34]:
grouped = data.groupby(['make','model'])